

<div class="container-fluid p-6">
  <div class="row">

  <!-- colonne left -->
  <div class="row mb-8">

    <!-- colonne milieu -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <!-- card -->

          <!-- col -->

          <div>
            <form>

              <div class="row mb-3">
                <label class="col-sm-12 col-form-label form-label" >Project Name </label>
                <div class="col-md-12 col-12"  >
                  <select class="form-select"  aria-label="Default select example" (ngModelChange)="onSelectProject($event)" name="project"  [ngModel]="selectedproject">
                    <option selected disabled >Open this selection menu to choose your Project</option>
                    <option *ngFor="let project of project" value="{{project.id}}"  [ngValue]="project"   >{{project.name}}</option>

                  </select>
                </div>
              </div>
              <!-- row -->
              <div class="row mb-3">
                <label class="col-sm-12 col-form-label form-label" >Task Name </label>
                <div class="col-md-12 col-12"  >
                  <select class="form-select" [disabled]="Choisseproject" aria-label="Default select example" name="task"  (ngModelChange)="onSelectTask($event)" [ngModel]="selectedtask">
                    <option selected disabled >Open this selection menu to choose your Task</option>
                    <option *ngFor="let task of task" value="{{task.id}}" name="task" [(ngModel)]="taskOfConsultant.task" [ngValue]="task" >{{task.name}}</option>

                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="startDat" class="col-sm-12 col-form-label
                          form-label">Start Date </label>
                <div class="col-md-12 col-12">
                  <input type="date" [(ngModel)]="taskOfConsultant.startDate" name="startDate" class="form-control"  id="startDat" required>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="endDate" class="col-sm-12 col-form-label
                          form-label">End Date </label>
                <div class="col-md-12 col-12">
                  <input type="date" [(ngModel)]="taskOfConsultant.endDate" name="endDate" class="form-control"  id="endDate" required>
                </div>
              </div>




              <!-- row -->
              <div class="row align-items-center">
                <div class=" d-grid col-md-12 mt-4">
                  <button type="submit" (click)="saveTaskOfConsultant()" class="btn btn-primary"> Save
                  </button>
                </div>
              </div>
            </form>
          </div>


    </div>
    <!-- colonne right -->


  </div>
  </div>
</div>

