<nav class="navbar-vertical navbar">
  <div class="nav-scroller">
    <!-- Brand logo -->
    <a style="color: white" class="navbar-brand" routerLink="/project/home">
      <img src="assets/images/brand/logo/logo.png" alt="" />&nbsp;Expertise Data
    </a>
    <!-- Navbar nav -->
    <ul class="navbar-nav flex-column" *ngIf="showAdminBoard" id="sideNavbar">
      <li class="nav-item">
        <a class="nav-link has-arrow "   routerLinkActive="active" routerLink="/project/home">
          <i class="nav-icon icon-xs me-2  bi bi-house-door active"></i> &nbsp; Dashboard
        </a>

      </li>





      <!-- Nav item -->
      <li class="nav-item" *ngIf="isLoggedIn && this.roles.includes('ROLE_ADMIN')">
        <a class="nav-link has-arrow " href="#!" data-bs-toggle="collapse" data-bs-target="#navPages" aria-expanded="false" aria-controls="navPages">
          <i class="nav-icon icon-xs me-2 bi bi-stack">
          </i>&nbsp;Pages
        </a>

        <div id="navPages" class="collapse " data-bs-parent="#sideNavbar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/project/home">
                Projects
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link has-arrow " routerLinkActive="active" routerLink="/task/home" >
                Tasks
              </a>

            </li>
            <li class="nav-item">
              <a class="nav-link has-arrow " routerLinkActive="active" routerLink="/consultant/listeConsultant" >
                Users
              </a>

            </li>
            <li class="nav-item">
              <a class="nav-link has-arrow "  routerLinkActive="active" routerLink="/consultant/TaskOfConsultant" >
                Consultant's tasks
              </a>

            </li>


          </ul>
        </div>

      </li>


      <!-- Nav item -->
      <li class="nav-item" *ngIf="isLoggedIn && this.roles.includes('ROLE_ADMIN')">
        <a class="nav-link has-arrow " href="#!" data-bs-toggle="collapse" data-bs-target="#navAuthentication" aria-expanded="false" aria-controls="navAuthentication">
          <i  class="nav-icon icon-xs me-2 bi bi-person">
          </i>&nbsp; Administration
        </a>
        <div id="navAuthentication" class="collapse " data-bs-parent="#sideNavbar">


          <ul class="nav flex-column "  >
            <li class="nav-item" >
              <a  class="nav-link" routerLinkActive="active" routerLink="admin/createConsultant">Create Consultant</a>
            </li>
          </ul>

          <ul class="nav flex-column">
          </ul>
        </div>
      </li>

    </ul>

  </div>
</nav>
