<nav class="navbar-vertical navbar">
  <div class="nav-scroller">
    <!-- Brand logo -->
    <a style="color: white" class="navbar-brand" routerLink="/project/home">
      <img src="assets/images/brand/logo/logo.png" alt="" />&nbsp;Expertise Data
    </a>
    <!-- Navbar nav -->
    <ul class="navbar-nav flex-column" id="sideNavbar">
      <li class="nav-item">
        <a class="nav-link has-arrow "  routerLinkActive="active" routerLink="/project/home">
          <i class="nav-icon icon-xs me-2  bi bi-house-door active"></i> &nbsp; Dashboard
        </a>

      </li>


      <!-- Nav item -->
      <li class="nav-item">
        <div class="navbar-heading">Layouts & Pages</div>
      </li>


      <!-- Nav item -->
      <li class="nav-item">
        <a class="nav-link has-arrow " href="#!" data-bs-toggle="collapse" data-bs-target="#navPages" aria-expanded="false" aria-controls="navPages">
          <i


            class="nav-icon icon-xs me-2 bi bi-stack">
          </i>&nbsp; Pages
        </a>

        <div id="navPages" class="collapse " data-bs-parent="#sideNavbar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/consultant/profil">
                Profile
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link has-arrow "  href="settings.html" >
                Settings
              </a>

            </li>


            <li class="nav-item">
              <a class="nav-link " href="billing.html">
                Billing
              </a>
            </li>




            <li class="nav-item">
              <a class="nav-link " href="pricing.html">
                Pricing
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/error">
                404 Error
              </a>
            </li>
          </ul>
        </div>

      </li>


      <!-- Nav item -->
      <li class="nav-item">
        <a class="nav-link has-arrow " href="#!" data-bs-toggle="collapse" data-bs-target="#navAuthentication" aria-expanded="false" aria-controls="navAuthentication">
          <i  class="nav-icon icon-xs me-2 bi bi-person">
          </i>&nbsp; Administration
        </a>
        <div id="navAuthentication" class="collapse " data-bs-parent="#sideNavbar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" routerLink="admin/signIn"> Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link "  routerLink="admin/createConsultant"> Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="admin/forgetPassword">
                Forget Password
              </a>
            </li>

          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link has-arrow " href="#!" data-bs-toggle="collapse" data-bs-target="#navAuthenticationConsultant" aria-expanded="false" aria-controls="navAuthentication">
          <i  class="nav-icon icon-xs me-2 bi bi-box-arrow-right">
          </i>&nbsp; Consultant
        </a>
        <div id="navAuthenticationConsultant" class="collapse " data-bs-parent="#sideNavbar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" routerLink="consultant/signIn"> Sign In</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" routerLink="consultant/forgetPassword">
                Forget Password
              </a>
            </li>

          </ul>
        </div>
      </li>


      <!-- Nav item -->


      <!-- Nav item -->










    </ul>

  </div>
</nav>
