<div class="row">
<div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
  <!-- card -->
  <div class="card ">
    <!-- card body -->
    <div class="card-body">
      <!-- heading -->
      <div class="d-flex justify-content-between align-items-center
                    mb-3">
        <div>
          <h4 class="mb-0"><a routerLink="/project/home"> Projects</a></h4>
        </div>
        <div class="icon-shape icon-md bg-light-primary text-primary
                      rounded-2">
          <i class="bi bi-briefcase fs-4"></i>
        </div>
      </div>
      <!-- project number -->
      <div>
        <h1 class="fw-bold">{{listProjects.length}}</h1>
        <p class="mb-0"><span class="text-dark me-2">2</span>Completed</p>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
  <!-- card -->
  <div class="card ">
    <!-- card body -->
    <div class="card-body">
      <!-- heading -->
      <div class="d-flex justify-content-between align-items-center
                    mb-3">
        <div>
          <h4 class="mb-0"><a routerLink="/task/home"> Active Task</a></h4>
        </div>
        <div class="icon-shape icon-md bg-light-primary text-primary
                      rounded-2">
          <i class="bi bi-list-task fs-4"></i>
        </div>
      </div>
      <!-- project number -->
      <div>
        <h1 class="fw-bold">{{listTasks.length}}</h1>
        <p class="mb-0"><span class="text-dark me-2">28</span>Completed</p>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
  <!-- card -->
  <div class="card ">
    <!-- card body -->
    <div class="card-body">
      <!-- heading -->
      <div class="d-flex justify-content-between align-items-center
                    mb-3">
        <div>
          <h4 class="mb-0"><a routerLink="/consultant/listeConsultant"> Consultants</a></h4>
        </div>
        <div class="icon-shape icon-md bg-light-primary text-primary
                      rounded-2">
          <i class="bi bi-people fs-4"></i>
        </div>
      </div>
      <!-- project number -->
      <div>
        <h1 class="fw-bold">{{listConsultants.length}}</h1>
        <p class="mb-0"><span class="text-dark me-2">1</span>Completed</p>
      </div>
    </div>
  </div>

</div>
<div class="col-xl-3 col-lg-6 col-md-12 col-12 mt-6">
  <!-- card -->
  <div class="card ">
    <!-- card body -->
    <div class="card-body">
      <!-- heading -->
      <div class="d-flex justify-content-between align-items-center
                    mb-3">
        <div>
          <h4 class="mb-0"><a routerLink="/consultant/TaskOfConsultant"> Consultant's Task</a></h4>
        </div>
        <div class="icon-shape icon-md bg-light-primary text-primary
                      rounded-2">
          <i class="bi bi-bullseye fs-4"></i>
        </div>
      </div>
      <!-- project number -->
      <div>
        <h1 class="fw-bold">{{listTaskOfConsultants.length}}</h1>
        <p class="mb-0"><span class="text-success me-2">5%</span>Completed</p>
      </div>
    </div>
  </div>
</div>
</div>
