<div class="container-fluid p-6">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <!-- Page header -->
      <div class="border-bottom pb-4 mb-4 ">
        <h3 class="mb-0 fw-bold">Profile du Consultant</h3>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <!-- Bg -->
      <div class="pt-20 rounded-top" style="background:url(assets/images/background/profile-cover.jpg) no-repeat; background-size: cover;"></div>
      <div class="bg-white rounded-bottom smooth-shadow-sm ">
        <div class="d-flex align-items-center justify-content-between pt-4 pb-6 px-4">
          <div class="d-flex align-items-center">
            <!-- avatar image -->
            <div >
              <img src="assets/images/avatar/avatar-1.jpg" class="avatar-xxl rounded-circle border border-4 border-white-color-40" alt="">
            </div>
            <!-- text Nom du Consultant -->
            <div class="lh-1">
              <h2 class="mb-0">&nbsp;Nom du Consultant</h2>
            </div>
          </div>
        </div>
        <!-- nav -->
        <ul class="nav nav-lt-tab px-4" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Equipe</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <!-- content -->
  <!-- row  -->
  <div class="row mt-6">
    <div class="col-md-12 col-12">
      <!-- card  -->
      <div class="card">
        <!-- card header  -->
        <div class="card-header bg-white  py-4">
          <h4 class="mb-0">Temps de distribution des taches en heures</h4>
        </div>
        <!-- table  -->
        <div class="table-responsive">
          <table class="table text-nowrap mb-0">
            <thead class="table-light border-2">
            <tr>
              <th class="border"><h4><strong> Jours</strong></h4></th>
              <th class="border"><h5><strong>Projets</strong></h5></th>
              <th class="border"><h5><strong>taches</strong></h5></th>
              <th class="border"><h5><strong>suivi du travail</strong></h5></th>
              <th class="text-center"><h5><strong>Heures de travail</strong></h5></th>
            </tr>
            </thead>
            <tbody class="border">
            <!--première ligne du tableau de Timesheet-->
            <tr>
              <td class="align-middle border">
                <div class="d-flex align-items-center">

                  <div class="ms-3 lh-1">
                    <h5 class=" mb-1"> <a href="#" class="text-inherit">18/07</a></h5>
                  </div>
                </div>
              </td>
              <td class="align-middle border">Projet 1</td>
              <td class="align-middle border"><span>tache1</span></td>
              <td class="align-middle col-1 border"><span class="badge bg-warning">terminé</span></td>
              <td class="align-middle text-dark-info">
                <div class="text-center ">3H</div>
              </td>
            </tr>
            <!--deuxième ligne du tableau de Timesheet-->
            <tr>
              <td class="align-middle border">
                <div class="d-flex align-items-center">
                  <div class="ms-3 lh-1">
                    <h5 class=" mb-1"> <a href="#" class="text-inherit">19/07</a></h5>
                  </div>
                </div>
              </td>
              <td class="align-middle border">Projet 2</td>
              <td class="align-middle border"><span>tache 2</span></td>
              <td class="align-middle col-1 border"><span class="badge bg-danger">A faire</span></td>
              <td class="align-middle text-dark-info">
                <div class="text-center">5H</div>
              </td>
            </tr>
            <!--troisième ligne ligne du tableau de Timesheet-->
            <tr>
              <td class="align-middle border">
                <div class="d-flex align-items-center">
                  <div class="ms-3 lh-1">
                    <h5 class=" mb-1"> <a href="#" class="text-inherit">20/07</a></h5>
                  </div>
                </div>
              </td>
              <td class="align-middle border">Projet 3</td>
              <td class="align-middle border"><span>Tache3</span></td>
              <td class="align-middle col-1 border"><span class="badge bg-success">En cours</span></td>
              <td class="align-middle text-dark-info">
                <div class="text-center">3H</div>
              </td>
            </tr>
            <!--quatrième ligne ligne du tableau de Timesheet-->
            <tr>
              <td class="align-middle border">
                <div class="d-flex align-items-center">
                  <div class="ms-3 lh-1">
                    <h5 class=" mb-1"> <a href="#" class="text-inherit">21/07</a></h5>
                  </div>
                </div>
              </td>
              <td class="align-middle border">Projet 4</td>
              <td class="align-middle border"><span>Tache 4</span></td>
              <td class="align-middle col-1 border"><span class="badge bg-warning">Terminé</span></td>
              <td class="align-middle text-dark-info">
                <div class="text-center">1H</div>
              </td>
            </tr>
            <!--cinquième ligne du tableau de Timesheet-->
            <tr>
              <td class="align-middle">
                <div class="d-flex align-items-center">
                  <div class="ms-3 lh-1">
                    <h5 class=" mb-1"> <a href="#" class="text-inherit">22/07</a></h5>
                  </div>
                </div>
              </td>
              <td class="align-middle border">Projet 5</td>
              <td class="align-middle border"><span>Tache 5</span></td>
              <td class="align-middle col-1 border"><span class="badge bg-success">En cours</span></td>
              <td class="align-middle text-dark-info">
                <div class="text-center">4H</div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="py-6">
    <!-- row -->
    <div class="row">
      <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
        <!-- card -->
        <div class="card">
          <!-- card body -->
          <div class="card-body">
            <!-- card title -->
            <h4 class="card-title">A propos du Consultant</h4>
            <!-- row -->
            <div class="row">
              <div class="col-12 mb-5">
                <!-- text -->
                <h6 class="text-uppercase fs-5 ls-2">Post
                </h6>
                <p class="mb-0">Consultant.</p>
              </div>
              <div class="col-6 mb-5">
                <h6 class="text-uppercase fs-5 ls-2">Tél </h6>
                <p class="mb-0">+212625478957</p>
              </div>

              <div class="col-6">
                <h6 class="text-uppercase fs-5 ls-2">Email </h6>
                <p class="mb-0">cons@gmail.com</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
        <!-- card -->
        <div class="card">
          <!-- card body -->
          <div class="card-body">
            <!-- card title -->
            <h4 class="card-title">Projets Contribués</h4>
            <div class="d-md-flex justify-content-between align-items-center mb-4">
              <div class="d-flex align-items-center">
                <div>
                  <div class="icon-shape icon-lg border p-4 rounded-1">
                    <img src="assets/images/brand/slack-logo.svg" alt="">
                  </div>
                </div>
                <!-- text -->
                <div class="ms-3 ">
                  <h5 class="mb-1"><a href="#" class="text-inherit">Slack Figma Design
                    UI</a></h5>
                  <p class="mb-0 fs-5 text-muted">Project description and details about...</p>
                </div>
              </div>
              <div class="d-flex align-items-center ms-10 ms-md-0 mt-3">
                <!-- avatar group -->
                <div class="avatar-group me-2">
                  <!-- img -->
                  <span class="avatar avatar-sm">
                        <img alt="avatar" src="../assets/images/avatar/avatar-1.jpg" class="rounded-circle">
                    </span>
                  <!-- img -->
                  <span class="avatar avatar-sm">
                        <img alt="avatar" src="../assets/images/avatar/avatar-2.jpg" class="rounded-circle">
                    </span>
                  <!-- img -->
                  <span class="avatar avatar-sm">
                        <img alt="avatar" src="../assets/images/avatar/avatar-3.jpg" class="rounded-circle">
                    </span>
                </div>
                <div>
                  <!-- dropdown -->
                  <div class="dropdown dropstart">
                    <a href="#" class="text-muted text-primary-hover" id="dropdownprojectOne" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i data-feather="more-vertical" class="icon-xxs"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownprojectOne">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-md-flex justify-content-between align-items-center mb-4">
              <div class="d-flex align-items-center">
                <div>
                  <!-- icon shape -->
                  <div class="icon-shape icon-lg border p-4 rounded-1">
                    <img src="assets/images/brand/3dsmax-logo.svg" alt="">
                  </div>
                </div>
                <!-- text -->
                <div class="ms-3 ">
                  <h5 class="mb-1"><a href="#" class="text-inherit">Design 3d Character</a></h5>
                  <p class="mb-0 fs-5 text-muted">Project description and details about...</p>
                </div>
              </div>

              <div class="d-flex align-items-center ms-10 ms-md-0 mt-3">
                <!-- avatar group -->
                <div class="avatar-group me-2">
                     <span class="avatar avatar-sm">
                        <!-- img -->
                          <img alt="avatar" src="../assets/images/avatar/avatar-4.jpg" class="rounded-circle">
                     </span>
                  <span class="avatar avatar-sm">
                        <!-- img -->
                          <img alt="avatar" src="../assets/images/avatar/avatar-5.jpg" class="rounded-circle">
                    </span>
                  <span class="avatar avatar-sm">
                       <!-- img -->
                         <img alt="avatar" src="../assets/images/avatar/avatar-6.jpg" class="rounded-circle">
                    </span>
                </div>
                <div>
                  <!-- dropdown -->
                  <div class="dropdown dropstart">
                    <a href="#" class="text-muted text-primary-hover" id="dropdownprojectTwo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i data-feather="more-vertical" class="icon-xxs"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownprojectTwo">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-md-flex justify-content-between align-items-center mb-4">
              <div class="d-flex align-items-center">
                <div>
                  <!-- icon shape -->
                  <div class="icon-shape icon-lg border p-4 rounded-1">
                    <img src="assets/images/brand/github-logo.svg" alt="">
                  </div>
                </div>
                <!-- text -->
                <div class="ms-3 ">
                  <h5 class="mb-1"><a href="#" class="text-inherit">Github Development</a></h5>
                  <p class="mb-0 fs-5 text-muted">Project description and details about...</p>
                </div>
              </div>
              <div class="d-flex align-items-center ms-10 ms-md-0 mt-3">
                <!-- avatar group -->
                <div class="avatar-group me-2">
                      <span class="avatar avatar-sm">
                        <!-- img -->
                         <img alt="avatar" src="../assets/images/avatar/avatar-7.jpg" class="rounded-circle">
                      </span>
                  <span class="avatar avatar-sm">
                        <!-- img -->
                         <img alt="avatar" src="../assets/images/avatar/avatar-8.jpg" class="rounded-circle">
                    </span>
                  <span class="avatar avatar-sm">
                         <!-- img -->
                         <img alt="avatar" src="../assets/images/avatar/avatar-9.jpg" class="rounded-circle">
                    </span>
                </div>
                <div>
                  <!-- dropdown -->
                  <div class="dropdown dropstart">
                    <a href="#" class="text-muted text-primary-hover" id="dropdownprojectThree" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i data-feather="more-vertical" class="icon-xxs"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownprojectThree">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else
                        here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-md-flex justify-content-between
                        align-items-center mb-4">
              <div class="d-flex align-items-center">
                <!-- icon shape -->
                <div>
                  <div class="icon-shape icon-lg border p-4 rounded-1">
                    <img src="../assets/images/brand/dropbox-logo.svg" alt="">
                  </div>
                </div>
                <!-- text -->
                <div class="ms-3 ">
                  <h5 class="mb-1"><a href="#" class="text-inherit">Dropbox Design
                    System</a></h5>
                  <p class="mb-0 fs-5 text-muted">Project description and details about...</p>
                </div>
              </div>
              <div class="d-flex align-items-center ms-10 ms-md-0 mt-3">
                <!-- avatar group -->
                <div class="avatar-group me-2">
                  <!-- img -->
                  <span class="avatar avatar-sm">
                              <img alt="avatar"
                                   src="assets/images/avatar/avatar-10.jpg"
                                   class="rounded-circle">
                            </span>
                  <!-- img -->
                  <span class="avatar avatar-sm">
                              <img alt="avatar"
                                   src="../assets/images/avatar/avatar-11.jpg"
                                   class="rounded-circle">
                            </span>
                  <!-- img -->
                  <span class="avatar avatar-sm">
                              <img alt="avatar"
                                   src="../assets/images/avatar/avatar-12.jpg"
                                   class="rounded-circle">
                            </span>
                </div>
                <div>
                  <!-- dropdown -->
                  <div class="dropdown dropstart">
                    <a href="#" class="text-muted text-primary-hover" id="dropdownprojectFour" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i data-feather="more-vertical" class="icon-xxs"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownprojectFour">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else
                        here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-md-flex justify-content-between
                        align-items-center">
              <div class="d-flex align-items-center">
                <!-- icon shape -->
                <div>
                  <div class="icon-shape icon-lg border p-4 rounded-1
                              bg-primary">
                    <img src="../assets/images/brand/layers-logo.svg" alt="">
                  </div>
                </div>
                <!-- text -->
                <div class="ms-3 ">
                  <h5 class="mb-1"><a href="#" class="text-inherit">Project Management</a></h5>
                  <p class="mb-0 fs-5 text-muted">Project description and details about...</p>
                </div>
              </div>
              <div class="d-flex align-items-center ms-10 ms-md-0 mt-3">
                <!-- avatar group -->
                <div class="avatar-group me-2">
                  <!-- img -->
                  <span class="avatar avatar-sm">
                              <img alt="avatar"
                                   src="../assets/images/avatar/avatar-13.jpg"
                                   class="rounded-circle">
                            </span>
                  <!-- img -->
                  <span class="avatar avatar-sm">
                              <img alt="avatar"
                                   src="../assets/images/avatar/avatar-14.jpg"
                                   class="rounded-circle">
                            </span>
                  <!-- img -->
                  <span class="avatar avatar-sm">
                              <img alt="avatar"
                                   src="../assets/images/avatar/avatar-15.jpg"
                                   class="rounded-circle">
                            </span>
                </div>
                <div>
                  <!-- dropdown -->
                  <div class="dropdown dropstart">
                    <a href="#" class="text-muted text-primary-hover" id="dropdownprojectFoufive" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i data-feather="more-vertical" class="icon-xxs"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownprojectFoufive">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else
                        here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
